@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* ---------------------- GLOBAL ---------------------- */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, #e4bcec, #f3e8f2);
  margin: 0;

}

/*Navbar*/
.nav-bar{
  
  height: 220px;
  background-image:
  linear-gradient(rgba(250, 247, 247, 0.281), rgba(0,0,0,0.2)),
  url("../public/Brownies.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom:30px;
    
}

.nav-wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
  
}

.nav-wrapper a{
  color:rgb(248, 247, 247);
  margin:0 10px;
  text-decoration:none;
  font-weight:900;
  
}

.brand-logo {
            margin-top:20%;
            width: 200px;
                       
        }

/*HOME*/
.home-container{
  text-align:center;
  background:white;
  padding:40px;
  border-radius:15px;
  width:550px;
  margin:120px auto;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  justify-content:center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

/* efecto al pasar el mouse */
.home-container:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  
}

.home-text{
  color:#555;
  margin-bottom:25px;
}

.home-buttons{
  display:flex;
  justify-content:center;
  gap:15px;
}

.btn-home{
  background:#ae71bd;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}

.btn-home:hover{
  background:#ae71bd;
  transform:scale(1.05);
}
/* ---------------------- CONTENEDOR PRINCIPAL ---------------------- */
.container-main {
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  
}

/* ---------------------- TITULOS ---------------------- */

.nav-bar h1 {
  text-align: center;
  font-weight: 700px;
  font-size: 90px;
  color: #fcfbfc;
  margin-bottom: 20px;
  margin-top: 15px;;
  margin-left: 10px;
  font-family: 'Great Vibes', cursive;
  
}


h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
  color: #3f1749;
  
  
}
h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #3f1749;
 
}

/* ---------------------- TARJETAS (form + tabla) ---------------------- */
form,
table {
  background: #efe9f0;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  padding: 25px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

form:hover,
table:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 35px rgba(0,0,0,0.12);
}

/* ---------------------- INPUTS ---------------------- */
input {
  margin: 8px 5px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  width: 220px;
  transition: all 0.2s ease;
}

input:focus {
  outline: none;
  border-color: #ae71bd;
  box-shadow: 0 0 0 3px rgba(13,110,253,0.15);
}

/* ---------------------- BOTONES ---------------------- */
button {
  margin: 8px 5px;
  padding: 9px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
}

/*boton del home*/
.btn-home {
  margin: 10px;
  padding: 10px 20px;
  background-color: #ae71bd;
  color: white;
  border-radius: 8px;
  border: none;
}
.btn-home:hover{
  transform: scale(1.05);
  background: linear-gradient(135deg, #ae71bd, #a37aad);
}

/* Botón principal */
button[type="submit"] {
  background: linear-gradient(135deg,#ae71bd, #a37aad);
  color: white;
}

button[type="submit"]:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #ae71bd, #a37aad);
}

/* Botón editar */
button:nth-child(1) {
  background-color: #ae71bd;
  color: black;
}

button:nth-child(1):hover {
  background-color: #ac47c5;
}

/* Botón eliminar */
button:nth-child(2) {
  background-color: #ae71bd;
  color: white;
}

button:nth-child(2):hover {
  background-color: #ac47c5;
}

/* ---------------------- TABLA ---------------------- */
table {
  width: 100%;
  border-collapse: collapse;
  }

thead {
  background: #ae71bd;
  color: #ebe7ec;
  text-align: center;
  
  
}

th, td {
  padding: 12px;
  text-align: center;
  
}

tr:nth-child(even) {
  background-color: #f2f4f8;
  
  
}



/* ---------------------- MENSAJE VACIO ---------------------- */
p {
  text-align: center;
  color: #888;
  font-style: italic;
}